--- 
layout: wrapper 
title: Community
---
<section id="Community" class="community-human_trafficking">
        <header id="Community-Header">
                <section id="Community-Life_Transition">
                        <img src="./img/topics-humantrafficking.png">
                        <div class="text">
                                <h1>Human Trafficking</h1>
                                <p>Life after human trafficking? Absolutely! Trafficking survivors often need hope, inspiration, resources, and community to heal and rebuild their lives, and there are many resources available to help them on this part of their journey. On this page you’ll find personal stories shared by trafficking survivors, discussion forums about human trafficking issues, and a list of human trafficking events. Set the filters and let Eos bring you the content most relevant to your location and interests!</p>
                        </div>
                </section><!-- end Community-Life_Transition -->
                <section id="Community-Filters">
                        <div class="dropdown selected" id="Community-Filters-Topics">
                                <button>
                                        <span class="topics-btn-default">Topics</span>
                                        <span class="topics-btn-selected">Human Trafficking</span>
                                        <span class="icon-standard">navigateup</span>
                                </button>
                                <div class="dropdown-content">
                                        <span class="close">&times;</span>
                                        <label>Life Transitions</label>
                                        <ul>
                                                <li class="active"><img src="./img/topics-abuse.png">Abuse & Domestic Violence</li>
                                                <li><img src="./img/topics-addiction.png">Addiction</li>
                                                <li><img src="./img/topics-aging.png">Aging</li>
                                                <li><img src="./img/topics-careerchange.png">Career Change</li>
                                                <li><img src="./img/topics-comingofage.png">Coming of Age</li>
                                                <li><img src="./img/topics-community.png">Community</li>
                                                <li><img src="./img/topics-grieving.png">Grieving</li>
                                                <li><img src="./img/topics-healthcrisis.png">Health Crisis</li>
                                                <li><img src="./img/topics-homelessness.png">Homelessness</li>
                                                <li class="active"><img src="./img/topics-humantrafficking.png">Human Trafficking</li>
                                                <li><img src="./img/topics-military.png">Military</li>
                                                <li><img src="./img/topics-newbusiness.png">New Business</li>
                                                <li><img src="./img/topics-parenting.png">Parenting</li>
                                                <li><img src="./img/topics-selfawareness.png">Self Awareness</li>
                                                <li><img src="./img/topics-union.png">Union</li>
                                        </ul>
                                        <label>Community Created</label>
                                        <ul>
                                                <li>Gender</li>
                                                <li>Equality</li>
                                        </ul>
                                </div>
                        </div>
                        <div class="dropdown">
                                <button>Location<span class="icon-standard">navigatedown</span></button>
                        </div>
                        <div class="dropdown">
                                <button>Faith<span class="icon-standard">navigatedown</span></button>
                        </div>
                        <div class="dropdown">
                                <button>Cost<span class="icon-standard">navigatedown</span></button>
                        </div>
                </section><!-- end Community-Filters -->
        </header><!-- end Community-Header -->
        <sidebar id="Community-Tabs">
                <ul>
                        <li class="tablinks active" onclick="openTab(event,'Community-Latest')">Latest</li>
                        <li class="tablinks" onclick="openTab(event,'Community-Stories')">Stories</li>
                        <li class="tablinks" onclick="openTab(event,'Community-Posts')">Posts</li>
                        <li class="tablinks" onclick="openTab(event,'Community-Conversations')">Conversations</li>
                        <li class="tablinks" onclick="openTab(event,'Community-Events')">Events</li>
                        <li class="tablinks" onclick="openTab(event,'Community-Resources')">Resources</li>
                </ul>
        </sidebar>
        <section id="Community-Latest" class="latest tabcontent active">
                <div class="stories">
                        <header>
                                <h1>Stories</h1>
                                <a href="#" onclick="openTab(event,'Community-Stories')">See More</a>
                        </header>
                        <ul>
                                <li>
                                        <img src="./img/headshots/amanda.jpeg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                                <p class="byline">By <a href="./profile.html">Amanda Solipsaysum</a></br>October 8, 2021</p>
                                        </div>
                                </li>

                                <li>
                                        <img src="./img/headshots/andrew.jpg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile-andrew.html">Andrew Myers</a></br>September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/hillary.png">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                                                <p class="byline">By <a href="./profile.html">Hillary</a></br> September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/diane.png">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile.html">Diane</a></br> September 29, 2021</p>
                                        </div>
                                </li>
                        </ul>
                </div>
                <div>
                        <header>
                                <h1>Posts</h1>
                                <a href="#" onclick="openTab(event,'Community-Posts')">See More</a>
                        </header>
                        <ul class="posts">
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/diane.png">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Diane</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/andrew.jpg">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Andrew</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/amanda.jpeg">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/hillary.png">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/michael.png">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                        </ul>
                </div>
                <div class="conversations">
                        <header>
                                <h1>Conversations</h1>
                                <a href="#" onclick="openTab(event,'Community-Conversations')">See More</a>
                        </header>
                        <ul>
                                {% for i in (1..6) %}
                                <li>
                                        <div class="post-categories">
                                                <span class="icon">tag</span>
                                                <p>Abuse</p>
                                                <p>Advice</p>
                                                <span class="icon-standard bookmark">bookmark</span>
                                        </div>
                                        <div class="post-preview">
                                                <h4>I've been stuck in this really negative narrative</h4>
                                                <p>Can you help me repharase this narrative: "I drive people away because my boyfriend is now distancing himself physically and emotionally"?</p>
                                        </div>
                                       <div class="post_footer">
                                                <div class="post-footer-posted">
                                                        <h6>Conversation created by</h6>
                                                        <div class="post-footer-posted-by">
                                                                <img src="../img/headshots/amanda.jpeg">
                                                                <p><a href="./profile.html">Amanda Solipsaysum</a> on August 23, 2021</p>
                                                        </div>
                                                </div>
                                                <div class="post-footer-interactions">
                                                        <p><span class="icon-standard">eye</span>300</p>
                                                        <p><span class="icon-standard">comment</span>200</p>
                                                </div>
                                        </div>
                                       
                                </li>
                        {% endfor %}
                        </ul>
                </div>
        </section><!--#Community-Latest -->
        <section id="Community-Stories" class="tabcontent">
                <h1>Stories</h1>
                <ul class="stories">
                        {% for i in (1..20) %}
                                <li>
                                        <img src="./img/headshots/amanda.jpeg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile.html">Amanda Solipsaysum</a></br>September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/andrew.jpg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile-andrew.html">Andrew Myers</a></br>September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/jesse.jpg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile.html">Jesse</a> </br>September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/marta.jpg">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile-andrew.html">Andrew Myers</a></br>September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/michael.png">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile-andrew.html">Michael</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/diane.png">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile.html">Diane</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <img src="./img/headshots/hillary.png">
                                        <div class="text">
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p class="byline">By <a href="./profile.html">Hillary</a> on September 29, 2021</p>
                                        </div>
                                </li>
                        {% endfor %}
                </ul>
        </section><!-- #Community-Stories -->
        <section id="Community-Posts" class="tabcontent">
                <h1>Posts</h1>
                {% for i in (1..20) %}
                        <ul class="posts">
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/diane.png">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Diane</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/andrew.jpg">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Andrew</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/amanda.jpeg">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/hillary.png">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                                <li>
                                        <div class="img-container">
                                                <img src="./img/headshots/jesse.jpg">
                                        </div>
                                        <div class="text">
                                                <h4>Title of post</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                                <p class="byline">By <a href="./profile.html">Amanda</a> on September 29, 2021</p>
                                        </div>
                                </li>
                        </ul>
                {% endfor %}
        </section><!-- #Community-Posts -->
        <section id="Community-Conversations" class="conversations tabcontent">   
                <h1>Conversations</h1>
                <ul>
                        {% for i in (1..200) %}
                                <li>
                                        <div class="post-categories">
                                                <span class="icon">tag</span>
                                                <p>Abuse</p>
                                                <p>Advice</p>
                                                <span class="icon-standard bookmark">bookmark</span>
                                        </div>
                                        <div class="post-preview">
                                                <h3>I've been stuck in this really negative narrative</h3>
                                                <p>Can you help me repharase this narrative: "I drive people away because my boyfriend is now distancing himself physically and emotionally"?</p>
                                        </div>
                                       <div class="post_footer">
                                                <div class="post-footer-posted">
                                                        <h6>Conversation created by</h6>
                                                        <div class="post-footer-posted-by">
                                                                <img src="./img/headshots/amanda.jpeg">
                                                                <h4>Amanda Solipsaysum</h4>
                                                                <p>on August 23, 2021</p>
                                                        </div>
                                                </div>
                                                <div class="post-footer-interactions">
                                                        <p><span class="icon-standard">eye</span>300</p>
                                                        <p><span class="icon-standard">comment</span>200</p>
                                                </div>
                                        </div>
                                       
                                </li>
                        {% endfor %}
                </ul>     
        </section>
        <section id="Community-Events" class="tabcontent">
                <h1>Events</h1>
                <p>Coming soon</p>
        </section>
        <section id="Community-Resources" class="tabcontent">
                <h1>Resources</h1>
                <p>Coming soon</p>
        </section>
</section> <!-- end #Community -->    