--- 
layout: wrapper 
title: Sign Up / Login
---
<div id="Signup">
	<form action="" class="form">
      <fieldset id="Signup-Type" class="toggle-switch">
      	<input class="switch-button-radio tablinks active" type="radio" name="signup-type" id="Signup-Individual-Btn" onclick="signup(event, 'Signup-Individual')">
      	<label class="switch-button-label" for="Signup-Individual-Btn">Individual</label>
      	<input class="switch-button-radio tablinks" type="radio" name="signup-type" id="Signup-Organization-Btn" onclick="signup(event, 'Signup-Organization')">
      	<label class="switch-button-label" for="Signup-Organization-Btn">Organization</label>
      </fieldset>

      <div id="Signup-Individual" class="tabcontent form-signup active">
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="firstname">First Name</label>
      		<input type="text" name="First Name" id="firstname" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="lastname">Last Name</label>
      		<input type="text" name="Last Name" id="lastname" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="email">Email</label>
      		<input type="text" name="email" id="email" class="form-control">
      	</fieldset>

      	<fieldset class="fieldset-regular">
      		<label class="animated" for="username">Username</label>
      		<input type="text" name="username" id="username" class="form-control">
      	</fieldset>

      	<fieldset class="fieldset-regular">
      		<label class="animated" for="user-pwd">Password</label>
      		<input type="password" name="Password" id="user-pwd" class="form-control">
      	</fieldset>
      </div>
      <div id="Signup-Organization" class="tabcontent form-signup">
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-business_name">Business Name</label>
      		<input type="text" name="Business Name" id="signup-org-business_name" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-website">Website</label>
      		<input type="text" name="Website" id="signup-org-website" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-contact_first_name">Contact First Name</label>
      		<input type="text" name="Contact First Name" id="signup-org-contact_first_name" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-contact_last_name">Contact Last Name</label>
      		<input type="text" name="Contact Last Name" id="signup-org-contact_last_name" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-contact_email">Contact Email</label>
      		<input type="text" name="Contact Email Name" id="signup-org-contact_email_name" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-username">Username</label>
      		<input type="text" name="Username" id="signup-org-username" class="form-control">
      	</fieldset>
      	<fieldset class="fieldset-regular">
      		<label class="animated" for="signup-org-pwd">Password</label>
      		<input type="password" name="Password" id="signup-org-pwd" class="form-control">
      	</fieldset>
      </div><!-- end Organization Signup -->

      <fieldset id="Signup-Membership_Types">
      	<legend>
      		<span>Membership Types</span>
      		<button id="Signup-Membership_Types-Btn" class="btn-plain">Learn about Membership Types</button>
      	</legend>
      	<ul>
      		<li id="Signup-Membership_Types-Basic">
      			<header>
      				<input type="radio" name="membership" id="membership-basic" checked>
      				<label>Basic</br>Free</label>
      			</header>
      			<ul>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      			</ul>
      		</li>
      		<li id="Signup-Membership_Types-Preferred">
      			<header>
      				<input type="radio" name="membership" id="membership-preferred">
      				<label>Preferred</br>$50/year</label>
      			</header>
      			<ul>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      			</ul>
      		</li>
      		<li id="Signup-Membership_Types-Premiere">
      			<header>
      				<input type="radio" name="membership" id="membership-premiere">
      				<label>Premiere</br>$100/year</label>
      			</header>
      			<ul>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur</p></li>
      			</ul>
      		</li>
      	</ul>
      </fieldset>
      <fieldset id="Signup-Membership_Agreement" class="checkbox">
      	<input type="checkbox" name="Membership Agreement" id="Signup-Membership_Agreement-Checkbox" disabled>
      	<label for="Signup-Membership_Agreement-Checkbox">I have read and accepted the <button id="Signup-Membership_Agreement-Btn" class="btn-plain modal-btn">Membership Agreement</button></label>
      </fieldset>
      <fieldset id="Signup-Website_Terms" class="checkbox">
      	<input type="checkbox" name="Website Terms" id="Signup-Website_Terms-Checkbox" disabled>
      	<label for="Signup-Website_Terms-Checkbox">I have read and accepted the <button id="Signup-Website_Terms-Btn" class="btn-plain modal-btn">Website Terms</button></label>
      </fieldset>
      <fieldset class="btns-set">
      	<a href="/profile.html" class="btn-primary">Sign Up</a>
      	<a href="/index.html" class="btn-plain">Cancel</a>
      </fieldset>
   </form>
</div><!-- #Signup -->

<!-- | - | - | - | - | - | - | - | - |
| - | - | - | - | - | - | - | - | - | -
- | M O D A L S - | - | - | - | - | - |
| - | - | - | - | - | - | - | - | - | -
- | - | - | - | - | - | - | - | - | -->
<div id="Signup-Membership_Types-Modal" class="modal">
	<div id="Membership_Types" class="modal-content">
		<span id="Signup-Membership_Types-Modal-Close" class="modal-close">&times;</span>
		{% include membership_types.html %}
	</div>
</div>
<div id="Signup-Membership_Agreement-Modal" class="modal small legal">
	<div class="modal-content">
		<span id="Signup-Membership_Agreement-Modal-Close" class="modal-close">&times;</span>
		{% include membership_agreement.html %}
		<div class="btns-set">
			<button id="Signup-Membership_Agreement-Modal-Agree" href="#" class="btn-primary">Agree</button>
			<button id="Signup-Membership_Agreement-Modal-Cancel" href="#" class="btn-plain">Cancel</button>
		</div>
	</div>
</div>
<div id="Signup-Website_Terms-Modal" class="modal small legal">
	<div class="modal-content">
		<span id="Signup-Website_Terms-Modal-Close" class="modal-close">&times;</span>
		{% include website_terms.html %}
		<div class="btns-set">
			<button id="Signup-Website_Terms-Modal-Agree" href="#" class="btn-primary">Agree</button>
			<button id="Signup-Website_Terms-Modal-Cancel" href="#" class="btn-plain">Cancel</button>
		</div>
	</div>
</div>
