<footer id="Footer">
        <section>
                <p>The Intentional Living Collective</p>
                <p>3840 Packard St, Suite 160</p>
                <p>Ann Arbor, MI  48108</p>
                <p><a href="mailto:contact@the-ilc.org">contact@the-ilc.org</a></p>
        </section>
        <section>
                <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSeL9755yf_6fX1JIEkN9B8wi2n51z_z64-_c71CI91sd2mvmQ/viewform" target="_blank">Contact Us</a>
        </section>
</footer>
