<section id="Get_Involved">
        <h1>Get Involved</h1>
        <ul>
                <li>
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdNCeaB00F-hYTUTF4NoaQlC6o-lsn4rjqo_VVrGKo-SvtD8w/viewform"></a>
                        <img src="./img/home/get_involved-volunteer.png">
                        <div class="text">
                                <h3>Become a Volunteer</h3>
                                <p>You've risen from the ashes yourself, you know how hard it can be. Fulfill your role as a change agent by using your experiences to help others struggling with like challenges.</p>
                        </div>
                        <span class="button">Sign Up</span>
                </li>
                <li>    
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScgYDgB-gE8k0XGYffKcdBThwi8SjvoF42bHm-GBlGpQkB89w/viewform"></a>
                        <img src="./img/home/get_involved-ambassador.png">
                        <div class="text">
                                <h3>Become a Ambassador</h3>
                                <p>Join our team of change agents and use your own experiences to help others navigate similar life transitions and challenges.</p>
                        </div>
                        <span class="button">Sign Up</span>
                </li>
                <li>
                        <a target="_blank" href="http://theintentionallivingcollective.org/grassroots-sponsors.html"></a>
                        <img src="./img/home/get_involved-sponsor.png">
                        <div class="text">
                                <h3>Become a Sponsor</h3>
                                <p>We do awesome things but we can’t do them alone. Sponsors contribute resources – financial or other – to help us serve more people, better! In return get promotional consideration or brand association.</p>
                        </div>
                        <span class="button">Learn More</span>
                </li>
                <li>
                        <a target="_blank" href="https://www.paypal.com/donate?token=kQbaqeL4gfB11krbxNfO_gLqs4hdnfppbAAKNgpVn9n0NESMRlZhSFKj99X2yrWvNeZq3oMWPkOfoxXX"></a>
                        <img src="./img/home/get_involved-donate.png">
                        <div class="text">
                                <h3>Donate</h3>
                                <p>Contribute resources directly to EOS and in return, get promotional consideration or brand association.</p>
                        </div>
                        <span class="button">Donate Today</span>
                </li>
        </ul>
</section>