<section id="Get_Involved">
        <h1>Get Involved</h1>
        <ul>
                <li>
                        <img src="./img/home/get_involved-volunteer.png">
                        <div class="text">
                                <h3>Become a Volunteer</h3>
                                <p>You've risen from the ashes yourself, you know how hard it can be. Fulfill your role as a change agent by using your experiences to help others struggling with like challenges.</p>
                        </div>
                        <a class="button" href="#">Learn More</a>
                </li>
                <li>
                        <img src="./img/home/get_involved-ambassador.png">
                        <div class="text">
                                <h3>Become a Ambassador</h3>
                                <p>Join our team of change agents and use your own experiences to help others navigate similar life transitions and challenges.</p>
                        </div>
                        <a class="button" href="#">Learn More</a>
                </li>
                <li>
                        <img src="./img/home/get_involved-sponsor.png">
                        <div class="text">
                                <h3>Become a Sponsor</h3>
                                <p>We do awesome things but we can’t do them alone. Sponsors contribute resources – financial or other – to help us serve more people, better! In return get promotional consideration or brand association.</p>
                        </div>
                        <a class="button" href="#">Learn More</a>
                </li>
                <li>
                        <img src="./img/home/get_involved-donate.png">
                        <div class="text">
                                <h3>Donate</h3>
                                <p>Contribute resources directly to EOS and in return, get promotional consideration or brand association.</p>
                        </div>
                        <a class="button" href="#">Learn More</a>
                </li>
        </ul>
</section>