<h1>Stories</h1>
<a href="#">See More</a>
<ul>
        <li>
                <img src="./img/headshots/amanda.jpeg">
                <h4>Lorem ipsum dolor sit amet</h3>
                <p>Posted By <a href="./profile.html">Amanda Solipsaysum on October 8, 2021</p>
        </li>
        <li>
                <img src="./img/headshots/andrew.jpg">
                <h4>Lorem ipsum dolor sit amet</h3>
                <p>Posted By <a href="./profile-andrew.html">Andrew Myers</a> on September 29, 2021</p>
        </li>
        <li>
                <img src="./img/headshots/marta.jpg">
                <h4>Lorem ipsum dolor sit amet</h3>
                <p>Posted By <a href="./profile-andrew.html">Andrew Myers</a> on September 29, 2021</p>
        </li>
        <li>
                <img src="./img/headshots/alix.jpeg">
                <h4>Lorem ipsum dolor sit amet</h3>
                <p>Posted By <a href="./profile-andrew.html">Andrew Myers</a> on September 29, 2021</p>
        </li>
</ul>