// .switch-button {
//   border-radius: 30px;
//   overflow: hidden;
//   text-align: center;
//   position: relative;

//   &:before {
//     content: "Organization";
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 3;
//     pointer-events: none;
//   }

//   &-checkbox {
//     cursor: pointer;
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     z-index: 2;

//     &:checked + .switch-button-label:before {
//       transform: translateX(100%);
//       transition: transform 300ms linear;
//     }

//     & + .switch-button-label {
//       position: relative;
//       padding: 15px 0;
//       display: block;
//       user-select: none;
//       pointer-events: none;

//       &:before {
//         content: "";
//         background: #fff;
//         height: 100%;
//         width: 100%;
//         position: absolute;
//         left: 0;
//         top: 0;
//         border-radius: 30px;
//         transform: translateX(0);
//         transition: transform 300ms;
//       }

//       .switch-button-label-span {
//         position: relative;
//       }
//     }
//   }
// }

.btn{
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        padding:10px 13px;
        font-family:apercu;
        text-transform:uppercase;
        font-weight:600;
        font-size:16px;
        line-height: 22px;
        transition:all 0.5s ease;
        letter-spacing: 0.03em;
        &-small{
           border-radius:10px;  
           font-size:14px;
           padding:8px 11px;
           font-weight:400;
           letter-spacing: 0.03em;
           &.inverse{
                padding:6px 9px;
           }
        }
        &-green{
                background-color:darken($sage, 20%);
                color:$ltsage;  
                &:hover{
                      background-color:darken($sage, 40%);  
                }
        }
        &.inverse{
                border:2px solid darken($sage, 0%);
                color:darken($sage, 10%);
                &:hover{
                        background-color:darken($sage, 0%);
                        color:darken($sage, 30%);
                }
        }
}

.btn-plain{
        font-size:14px;
        font-weight:200;
        border-bottom:1px solid $chocolate;
        padding:0;
}

.btn-primary{
        width:250px;
        padding:20px 0;
        border-radius:5px;
        
        &:hover{
                background-color:darken($sage, 40%);
                color:$ltsage;
        }
}

.btns-set{
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        width:100%;
        a:last-child,
        button:last-child{
                margin-left:20px;
        }
}
