textarea:focus, input:focus{
        outline:none;
}
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// C O L O R S
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
$primary-color   : $sage;
$input-color : $chocolate;
$border-color: lighten($tan, 10%);
$bg-color: #faf2e6;
$label-color:darken($tan, 20%);

// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// F O R M S
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
.form{
        max-width:800px;
        fieldset{
                margin-bottom:20px;
                label{
                        font-size:18px;
                        color:$label-color;
                }
        }
        input[type="radio"],
        input[type="radio"] + label,
        input[type="checkbox"],
        input[type="checkbox"] + label{
                margin:0;
                &:hover{
                        cursor:pointer;
                }
        }
        a{
                font-weight:200;
                font-size:14px;
                border-bottom:1px solid $black;
        }
        .fieldset-regular{
                border: solid 2px $border-color;
                width: 100%;
                position: relative;
                transition: all 0.3s ease-out;
                background-color: $bg-color;
                border-radius:30px;
        &.focus{
            border: solid 2px $tan;
        }
        &.textarea{
            height: auto;
            .form-control{
                height: auto;
                resize: none;
            }
        }
        input{
                width:100%;
                padding:30px 25px 10px;
        }
        p a,
        label a{
                font-family:inherit;
                font-size:inherit;
                font-style:inherit;
                border-bottom:1px solid #d6ad6f;
        }
        label{
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: $label-color;
            line-height: 10px;
            &.animated{
                position: absolute;  
                left: 25px;
                top: 25px;
            }
        }
        .form-control{
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: $input-color;
        }
        .form-control:focus{
            label{
                top: 0;
            }
        }
    }
}
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// I N P U T S
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
.checkbox{
        input[type="checkbox"]{
                margin-top:7px;
                margin-right:10px; 
                opacity:0;
                display: inline-block;
                z-index:1;  
                &:hover{
                        cursor: pointer;
                }
                + label{
                        display:inline-block;
                        position:relative;
                }
                + label::before{
                        content:"";
                        display:block;
                        margin:0 auto;
                        width:20px;
                        height:20px;
                        border:2px solid $chocolate;  
                        position: absolute;
                        top:4px;
                        left:-28px;
                }
                &:checked + label::before{
                        font-family:ssStandard;
                        content:"check"; 
                        border-color:transparent; 
                        font-size:18px;
                        top:4px;   
                }
                &:hover{
                        cursor:pointer;
                } 
                // &:disabled + label::before{
                //         border:2px solid $border-color; 
                // }
        }
        input[type="checkbox"] ~ label{
                color:$black;
                font-family:apercu;
                font-weight:200;
                font-size:14px;
                &:hover{
                        cursor:pointer;
                }
                button{
                        font-weight:inherit;
                        font-size:inherit;
                        padding:0;
                        border-bottom:1px solid $chocolate;
                }
        }
}
//https://codepen.io/nikkk-me/pen/abvPjeG
fieldset.toggle-switch{
        @include flexbox();
        position:relative;
        width:100%;
        border-radius: 30px;
        overflow: hidden;
        height:60px;
        
        input.switch-button-radio{
                position:absolute;
                top:0;
                bottom:0;
                width:50%;
                height:100%;
                opacity:0;
                z-index: 2;
                &:first-of-type{
                        left:0;
                }
                &:last-of-type{
                        right:0;  
                        &:checked + .switch-button-label:before{
                                transform:translateX(0%);
                                transition: transform 300ms linear;
                                content:"Organization";
                        }    
                }
                
        }
        label.switch-button-label{
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                width:50%;
                user-select:none;
                pointer-events:none;
                span.switch-button-label-span{
                        position:relative;
                }

                &:last-of-type{
                        border-radius:30px;
                        &:before{
                                @include flexbox();
                                @include justify-content(center);
                                @include align-items(center);
                                content:"Individual";
                                height:100%;
                                width:50%;
                                position:absolute;
                                border-radius:30px;
                                transform:translateX(-100%);
                                transition:transform 300ms;
                                background-color:$white;
                        }
                }
        }
}
#Signup-Type.toggle-switch{
        background-color:$border-color;
        border:2px solid $border-color;
        margin:30px 0 30px;
}
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// C U S T O M   F O R M   S T Y L E S
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
// ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ ^ ˆ • ˆ 
#Signup{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        background-color:$lttan;
        width:100%;
        padding:30px 0;
        .tabcontent{
                padding:0;
        }
        .form{
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                margin:0 auto;
                fieldset{
                        width:100%;
                }
        }
}
#Signup-Cancel{
        margin-left:30px;
}
#Signup-Membership_Agreement{
        @include flexbox();
        @include justify-content(center);
}
#Signup-Website_Terms{
        margin-left:-60px;
        @include flexbox();
        @include justify-content(center);
}
#Signup-Profile_Type{
        margin-bottom:20px;
}
#Signup-Membership_Types{
        height:auto;
        width:100%;
        margin:40px 0;
        legend{
                @include flexbox();
                @include justify-content(space-between);
                width:100%;
                color: $label-color;
                padding:0 0 10px 25px;
                font-size:18px;
        }
        header{
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
        }
        input[type="radio"]{
                opacity:0;
                display: inline-block;
                z-index:1;
                + label{
                        display:inline-block;
                        position:relative;
                }
                + label::before{
                        content:"";
                        display:block;
                        margin:0 auto;
                        width:20px;
                        height:20px;
                        border:2px solid $tan;  
                        margin-bottom:5px; 
                        margin-top:-16px;
                }
                &:checked + label::before{
                        font-family:ssStandard;
                        content:"check"; 
                        border-color:transparent;    
                }
        }
        > ul{
                @include flexbox();
                @include align-items(stretch);
                position:relative;
                width:100%;
                > li{
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(stretch);
                        position:relative;
                        width:33.3%;
                        background-color:$border-color;
                        border-radius:5px;
                        text-align: center;
                        &:first-child{
                                margin-right:6px;
                        }
                        &:last-child{
                                margin-left:6px;
                        }
                        &:nth-child(2){
                                margin:0 3px;
                        }
                        &:hover{
                                cursor:pointer;
                        }
                        header{
                                background-color:$label-color;
                                padding:15px 0;
                                border-top-right-radius:5px;
                                border-top-left-radius:5px;
                                label{
                                        color:$lttan;
                                        font-family:apercu;
                                }
                                &:hover{
                                        cursor:pointer;
                                }
                        }
                        > label{
                                font-family:apercu;
                        }
                }
        }
        ul li ul{
                @include flexbox();
                @include flex-direction(column);
                padding:20px;
                li{
                        @include flexbox();
                        p{
                                text-align: left;
                                margin-left:8px;
                                font-size:16px;
                        }
                        &:not(:last-child){
                                margin-bottom:8px;
                        }
                        &:before{
                                content:"•";
                                margin-top:5px;     
                        } 
                }
        }
}

// MODALS

#Signup-Membership_Types-Modal{
        .modal-content{
                background-color:$lttan;
                border:5px solid $tan;
        }
}