textarea:focus, input:focus{
        outline:none;
}

//colors
$primary-color   : $sage;
$input-color : $chocolate;
$border-color: lighten($tan, 10%);
$bg-color: #faf2e6;
$label-color:darken($tan, 20%);


//contact form
.form{
        #Signup-Profile_Type{
                width:100%;
                background-color:$border-color;
                &::before{
                        width:calc(100% / 2);
                        font-size:18px;
                        color:$label-color;
                }
                label{
                        width:calc(100% / 2);
                        &::before{
                                border:2px solid $border-color;
                        }
                }
                .switch-button-checkbox + .switch-button-label:before{
                        background-color:$bg-color;
                }
        }
        .switch-button{
                border-color:$border-color;
        }
        fieldset{
                margin-bottom:20px;
                label{
                        font-size:18px;
                        color:$label-color;
                }
        }
        a{
                font-weight:200;
                font-size:14px;
                border-bottom:1px solid $black;
        }
    .fieldset-regular{
        border: solid 2px $border-color;
        width: 100%;
        position: relative;
        transition: all 0.3s ease-out;
        background-color: $bg-color;
        border-radius:30px;
        &.focus{
            border: solid 2px $tan;
        }
        &.textarea{
            height: auto;
            .form-control{
                height: auto;
                resize: none;
            }
        }
        input{
                width:100%;
                padding:30px 25px 10px;
        }
        p a,
        label a{
                font-family:inherit;
                font-size:inherit;
                font-style:inherit;
                border-bottom:1px solid #d6ad6f;
        }
        label{
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: $label-color;
            line-height: 10px;
            &.animated{
                position: absolute;  
                left: 25px;
                top: 25px;
            }
        }
        .form-control{
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: $input-color;
        }
        .form-control:focus{
            label{
                top: 0;
            }
        }
    }
    #Signup-Profile_Type{
        margin-bottom:20px;
    }
    #Signup-Membership_Types{
                height:auto;
                width:100%;
                legend{
                        @include flexbox();
                        @include justify-content(space-between);
                        width:100%;
                        color: $label-color;
                        padding:0 0 10px 25px;
                        font-size:18px;
                }
                header{
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(center);
                }
                input[type="radio"]{
                        opacity:0;
                        display: inline-block;
                        z-index:1;
                        + label{
                                display:inline-block;
                                position:relative;
                        }
                        + label::before{
                                content:"";
                                display:block;
                                margin:0 auto;
                                width:20px;
                                height:20px;
                                border:2px solid $tan;  
                                margin-bottom:5px; 
                                margin-top:-16px;
                        }
                        &:checked + label::before{
                                font-family:ssStandard;
                                content:"check"; 
                                border-color:transparent;    
                        }
                }
                > ul{
                        @include flexbox();
                        //@include flex-direction(column);
                        @include justify-content(space-around);
                        width:100%;
                        > li{
                                @include flexbox();
                                @include flex-direction(column);
                                width:33.3%;
                                height:100%;
                                background-color:$border-color;
                                border-radius:5px;
                                text-align: center;
                                &:first-child{
                                        margin-right:6px;
                                }
                                &:last-child{
                                        margin-left:6px;
                                }
                                &:nth-child(2){
                                        margin:0 3px;
                                }
                                header{
                                        background-color:$label-color;
                                        padding:15px 0;
                                        border-top-right-radius:5px;
                                        border-top-left-radius:5px;
                                        label{
                                                color:$lttan;
                                                font-family:apercu;
                                        }
                                        input{}
                                }
                                > label{
                                        font-family:apercu;
                                }
                        }
                }
                ul li ul{
                        @include flexbox();
                        @include flex-direction(column);
                        padding:20px;
                        li{
                                @include flexbox();
                                p{
                                        text-align: left;
                                        margin-left:8px;
                                        font-size:16px;
                                }
                                &:not(:last-child){
                                        margin-bottom:8px;
                                }
                                &:before{
                                        content:"•";
                                        margin-top:5px;     
                                } 
                        }
                }
        }
}

#Signup{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        background-color:$lttan;
        width:100%;
        padding:30px 0;
        fieldset{
                max-width:600px;
        }
        #Signup-Buttons{
                @include flexbox();
                @include align-items(center);
        }
        #Signup-Cancel{
                margin-left:30px;
        }
        #Signup-Membership_Terms{
                @include flexbox();
                input{
                        margin-top:7px;
                        margin-right:10px;
                }
                label{
                        color:$black;
                        font-family:apercu;
                        font-weight:200;
                        font-size:14px;
                }
                input[type="checkbox"]{
                        opacity:0;
                        display: inline-block;
                        z-index:1;
                        + label{
                                display:inline-block;
                                position:relative;
                        }
                        + label::before{
                                content:"";
                                display:block;
                                margin:0 auto;
                                width:20px;
                                height:20px;
                                border:2px solid $tan;  
                                margin-bottom:5px; 
                                margin-top:-16px;
                        }
                        &:checked + label::before{
                                font-family:ssStandard;
                                content:"check"; 
                                border-color:transparent;    
                        } 
                }
        }
}