

#Header_Main{
        @include flexbox();
        @include justify-content(space-between);
        position:fixed;
        top:0;
        width:100%;
        height:$header_h_desktop;
        z-index:2000;
        transition:all 0.5s ease;
        background-color:darken($sage, 20%);
        @include tablet{
                height:$header_h_desktop;
                padding-left:40px;
        }
        @include phone{
                height:$header_h_mobile;
                padding: 0 20px;
        }

        a{
                color:$chocolate;
                transition:all 0.15s ease;
        }
        #Logo_Main{
                @include flexbox();
                @include align-items(center);
                height:100%;
                img{
                        object-fit: contain;
                        height:80%;
                        max-height: 100%;
                        width:auto;
                }
        }
        #Nav_Main{
                @include flexbox();
                @include justify-content(flex-end);
                @include align-items(center);
                @include phone{
                        @include flex-direction(column);
                }

                > li{
                        @include flexbox();
                        @include align-items(center);
                        height:100%;
                        position:relative;
                        transition: all 0.5s ease;
                        min-width:120px;
                        &:hover{
                                ul{
                                        display:block;
                                }
                        }
                        >ul{
                                display:none;
                                background-color:darken($sage, 40%);
                                position:absolute;
                                top:100%;
                                min-width:100%;
                                transition: all 0.5s ease;
                                > li:not(:first-child){
                                        border-bottom:1px solid darken($sage, 15%); 
                                        a{
                                                padding:20px;
                                        }
                                        &:hover{
                                                background-color:darken($sage, 60%) !important;
                                        }
                                }
                        }
                }
                p{
                        white-space: nowrap;
                        padding:10px 20px;
                        font-family:apercu;
                        color:$beige;
                        font-weight:200;
                        font-size:12px;
                        //text-transform: uppercase;
                        border-bottom:1px solid $beige;
                        background-color:darken($sage, 30%);
                        letter-spacing:.03em;
                }
                a{
                        @include flexbox();
                        @include align-items(center);
                        height:100%;
                        white-space: nowrap;
                        transition:all 0.5s ease;
                        font-size:16px;
                        color:$beige;
                        text-transform:uppercase;
                        letter-spacing:0.05em;
                        padding:0 30px;
                        &:not(:last-child){
                                margin-right:2px;
                        }
                        &:hover,
                        &.active{
                                color:lighten($beige, 30%);
                                background-color:rgba(242, 239, 231, .15)
                        }
                        span{
                                letter-spacing:0;
                                margin-right:10px;
                                font-size:12px;
                        }
                }
        }
}