

#Header_Main{
        @include flexbox();
        @include justify-content(space-between);
        position:fixed;
        top:0;
        width:100%;
        height:$header_h_desktop;
        z-index:2000;
        transition:all 0.5s ease;
        background-color:darken($sage, 20%);
        @include tablet{
                height:$header_h_desktop;
                padding:0 40px;
        }
        @include phone{
                height:$header_h_mobile;
                padding: 0 20px;
        }

        a{
                color:$chocolate;
                transition:all 0.15s ease;
        }
        #Logo_Main{
                @include flexbox();
                @include align-items(center);
                height:100%;
                img{
                        object-fit: contain;
                        height:80%;
                        max-height: 100%;
                        width:auto;
                }
        }
        #Nav_Main{
                @include flexbox();
                @include justify-content(flex-end);
                @include align-items(center);
                @include phone{
                        @include flex-direction(column);
                }

                a{
                        white-space: nowrap;
                        transition:all 0.5s ease;
                        border-bottom:1px solid transparent;
                        font-size:16px;
                        color:$beige;
                        text-transform:uppercase;
                        letter-spacing:0.05em;
                        border-bottom:2px solid transparent;
                        &:not(:first-child){
                                margin-left:20px;
                        }
                        &:hover,
                        &.active{
                                color:lighten($milk_cafe, 30%);
                                border-color:lighten($milk_cafe, 30%);
                        }
                }
        }
}