/* Style the tab */
.tabs{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);

        .tablinks{
                font-family:apercu !important;
                transition: 0.3s;
                border-bottom:2px solid transparent;
                font-weight:200;
                text-transform:uppercase;
                &:hover{
                        cursor:pointer;
                }
        }
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding-top:40px;
  width:100%;
  &.active{
        display:block;
  }
}
