#Community{
        &.community-health_crisis{
                #Community-Life_Transition img{
                        border:5px solid $orchid;
                }
        }
        &.community-abuse{
                #Community-Life_Transition img{
                        border:5px solid $blue;
                }
        }
        &.community-human_trafficking{
                #Community-Life_Transition img{
                        border:5px solid $sage;
                }
        }
}
#Community-Tabs{
        width:15%;
        @include flexbox();
        @include flex-direction(column);
        border-radius:10px;
        width:$sidebar_w;
        position:fixed;
        top:225px;
        left:0;
        .tablinks{
                @include flexbox();
                @include align-items(center);
                position:relative;
                padding:20px 10px 20px 60px;
                border-bottom:2px solid darken($ltblue,1%);
                font-weight: 200;
                font-family:apercu;
                &.active,
                &:hover{
                        background-color:darken($ltblue,3%);
                        cursor:pointer;
                        &:after{
                                content:"";
                                position:absolute;
                                left:100%;
                                width: 0;
                                height: 0;
                                border-top: 29px solid transparent;
                                border-left: 28px solid darken($ltblue, 3%);
                                border-bottom: 29px solid transparent;
                        }
                }
                img{
                        height:30px;
                        width:auto;
                        margin-right:10px;
                }
        }
}
#Community-Header{
        margin-bottom:30px;
        padding-top:30px;
        padding-right:40px;
        border-bottom:5px dotted darken($ltblue, 5%);
        > section{
                margin-bottom:30px;
        }
}
#Community-Life_Transition{
        @include flexbox();
        @include align-items(center);
        width:100%;
        margin-bottom:20px;
        img{
                height:100%;
                width:auto;
                margin-right:30px;
                border-radius:50%;
        }
        .text{

        }
        p{
                width:100%;
                font-size:24px;
                line-height: 36px;
        }   
}
#Community-Filters{
        @include flexbox();
        @include align-items(center);
        padding-top:20px;
        label{
                width:100%;
                font-family:apercu;
                font-weight:200;
                color:darken($blue, 20%);
                margin-left:20px;
        }
        h4{
                margin-right:20px;
        }
        .dropdown{
                position:relative;
                margin-right:10px;
                position:relative;
                &.active{
                        button{
                                background-color:darken($blue, 20%);
                        }
                        .dropdown-content{
                                display:block;
                        }
                }
                &:not(.active){
                        button{
                                background-color:darken($blue, 7%);
                        }
                }
                &.selected{
                        button{
                                background-color:darken($blue, 20%);
                                .topics-btn-default{
                                        position:absolute;
                                        top:-30px;
                                        color:darken($blue, 20%);
                                }
                                .topics-btn-selected{

                                }
                        }
                }
                button{
                        @include flexbox();
                        @include justify-content(space-between);
                        text-transform:uppercase;
                        background-color:darken($blue,20%);  
                        padding:10px 20px 10px 20px;
                        color:$ltblue;
                        width:100%;
                        font-weight: 400;
                        font-size:12px;
                        line-height: 28px;
                        border-radius:30px;
                        width:fit-content;
                        min-width: 200px;
                        transition:all 0.3s ease;
                        .icon-standard{
                                margin-left:10px;
                                font-size:9px;
                        }
                        &:hover{
                                background-color:darken($blue, 20%);
                        }
                }
                .dropdown-content{
                        display:none;
                        position:fixed;  
                        top:200px;
                        background-color:darken($blue,20%);
                        z-index: 200;
                        border:5px solid darken($blue,22%);
                        border-radius:10px;
                        width:94vw;
                        left:3vw;
                        box-shadow:0 0 8px 8px rgba(98, 141, 192, .4);
                        .close{
                                position:absolute;
                                right:25px;
                                top:12px;
                                font-weight: bold;
                                font-size:28px;
                                color:darken($blue, 40%);
                                &:hover{
                                        cursor:pointer;
                                        color:darken($blue,50%);
                                }
                        }
                }
                ul{
                        @include flexbox();
                        @include flex-wrap(wrap);
                        @include justify-content(stretch);
                        li{
                                @include flexbox();
                                @include align-items(center);
                                padding:20px;
                                font-weight: 200;
                                font-family:apercu;
                                width:calc(20% - 3px);
                                border:2px solid transparent;
                                transition:all 0.1s ease;
                                color:$ltblue;
                                font-size:18px;
                                line-height:24px;
                                border-radius:10px;
                                margin-right:3px;
                                margin-bottom:3px;
                                &.active{
                                        background-color:darken($ltblue,3%);
                                }
                                &:hover{
                                        //border:2px solid darken($ltblue,3%);    
                                        cursor:pointer;
                                        background-color:darken($blue,25%);
                                }
                                &.active{
                                    background-color:darken($blue,25%);    
                                }
                                img{
                                        height:30px;
                                        width:auto;
                                        margin-right:10px;
                                }
                        }
                }
        }
        #Community-Filters-Topics{
                .dropdown-content{
                        padding:20px 40px 20px 40px;
                        label{
                                @include flexbox();
                                padding-left:20px;
                                font-size:12px;
                                text-transform:uppercase;
                                font-weight:600;
                                letter-spacing:0.03em;
                                color:darken($blue,40%);
                                text-shadow:1px 1px darken($blue, 20%);
                                font-family:apercu;
                                &:last-of-type{
                                        border-top:5px dotted darken($blue,30%);
                                        padding-top:20px; 
                                        margin-top:20px;                       
                                }
                        }
                }
        }
}
#Community{
        @include flexbox();
        @include justify-content(center);
        @include flex-wrap(wrap);
        width:100%;
        background-color:$ltblue;
        min-height: calc(100vh - #{$header_h});

        > section,
        > header{
                max-width:1280px; 
                width:calc(100% - ( #{$sidebar_w} + 30px) );
                margin-left:calc(#{$sidebar_w} + 30px);
                position:relative;
                header{
                        @include flexbox();
                        @include justify-content(space-between);
                        width:100%;
                }
        }
        > section{
                height:100%;
        }
        .tabcontent{
                min-height:800px;
                padding-top:0 !important;
                padding-right:20px !important;
                h1{
                        margin-bottom:20px;
                }
        }
        ul.posts{
                li{
                        @include flexbox();
                        @include align-items(center);
                        margin-bottom:15px;
                        background-color:lighten($ltblue, 5%);
                        border-radius:10px;
                        padding:20px 30px;
                        transition:all 0.1s ease;
                        .text{
                                @include flexbox();
                                @include flex-direction(column);
                                padding-left:20px;
                        }
                        &:hover{
                                box-shadow:0 0 4px 4px rgba(98, 141, 192, .2);
                                cursor:pointer;
                        }
                }
                .img-container{
                        width:100px;
                        height:80px;
                        overflow:hidden;
                        border-radius:50%; 
                }
                img{
                        object-fit: cover;
                        height:100%;
                        width:100%;
                }
                .byline a{
                        border-bottom:1px solid $black;
                }
        }

        .conversations{
                > ul{
                        @include flexbox();
                        @include flex-wrap(wrap);
                        @include justify-content(space-between);
                        > li{
                                margin-bottom:30px;
                                width:calc(50% - 15px);
                                background-color:lighten($ltblue, 5%);
                                border-radius:10px;
                                transition:all 0.1s ease;
                                &:nth-child(even){
                                   margin-left:15px;  
                                }
                                &:nth-child(odd){
                                        margin-right:15px;
                                }
                                &:hover{
                                        box-shadow:0 0 4px 4px rgba(98, 141, 192, .2);
                                        cursor:pointer;
                                }
                        }
                }
                .post-categories{
                        @include flexbox();
                        @include align-items(center);
                        padding:20px 40px 20px 30px;
                        border-top-right-radius:10px;
                        border-top-left-radius:10px;
                        position:relative;
                        border-bottom:2px solid $ltblue;
                        .bookmark{
                                position:absolute;
                                top:20px;
                                right:15px;
                                font-size:20px;
                        }
                        span{
                                padding-right:8px;
                                font-size:12px;
                        }
                        p{
                                padding-right:8px;
                                // &:after{
                                //         content:", ";
                                // }
                                &:not(:last-child){
                                        &:after{
                                                content:",";
                                        }
                                }
                        }
                }        
                .post-preview{
                        padding:40px 30px;
                }
                .post_footer{
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(space-between);
                        border-bottom-left-radius:10px;
                        border-bottom-right-radius:10px;
                        padding:30px;
                        border-top:2px solid $ltblue;
                        img{
                                height:40px;
                                width:40px;
                                border-radius:50%;
                                object-fit:cover;
                        }
                        h6{
                                font-weight: 200;
                        }
                        .post-footer-posted{
                                @include flexbox();
                                @include flex-direction(column);
                                .post-footer-posted-by{
                                        @include flexbox();
                                        @include align-items(center);
                                        margin-top:10px;
                                        h4,p{
                                                margin-left:8px;
                                        }
                                }
                        }
                        .post-footer-interactions{
                                @include flexbox();
                                @include align-items(center);
                                p{
                                        margin-right:10px;
                                        span{
                                                margin-right:5px;
                                                margin-top:8px;

                                        }
                                }
                        }
                }
        }
}


.stories{
        @include flexbox();
        @include flex-wrap(wrap);
        header{
                        @include flexbox();
                        @include justify-content(space-between);
                        @include align-items(flex-end);
                        width:100%;
                }
        ul{
                @include flexbox();
                @include flex-wrap(wrap);
                @include justify-content(center);
        }
        li{
                width:calc(25% - 12px);
                position:relative;
                margin-bottom:12px;
                &:nth-child(4n+1){
                        margin-right:12px;
                }
                &:nth-child(4n+2){
                        margin:0 6px;
                }
                &:nth-child(4n+3){
                        margin:0 6px;
                }
                &:nth-child(4n+4){
                        margin-left:12px;
                }
                &:hover{
                        cursor:pointer;
                        .text{
                                opacity:1;
                        }
                }
        }
        img{
                height:300px;
                width:100%;
                object-fit: cover;
        }
        .text{
                @include flexbox();
                @include align-items(flex-start);
                @include justify-content(center);
                @include flex-direction(column);
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:300px;
                background-color:rgba(98, 141, 192,.95);
                opacity:.9;
                color:$white;
                padding:20px;
                opacity:0;
                transition:all 0.5s ease;
        }
        h4{
                font-weight: 200;
                color:$ltblue;
        }
}

#Community-Latest{
        >div{
                header{
                        @include flexbox();
                        @include align-items(flex-end);
                }
                &:not(:first-child){
                        margin-top:40px;
                }
        }
        div.stories{
                p.byline{
                        margin-top:15px;
                        color:$blue;
                        a{
                                border-bottom:1px solid $blue;
                        }
                }
        }
}
p.byline{
        font-size:14px;
}
p a{
        font-family:inherit;
        font-size:inherit;
        color:inherit;
}