#Life_Transition{
        header{

            padding-left:180px !important;  
            padding-right:10px;  
        }
}
#Community{
        padding-top:70px;
        padding-bottom:70px;
        max-width:1280px;
        margin:0 auto;
        section{
                margin-bottom:60px;
                padding: 0 40px;
                h1{
                        margin-bottom:20px;
                }
        }
        header{
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                padding:0 40px;
                position:relative;
                margin-bottom:60px;
                img{
                        position:absolute;
                        left:0;
                        top:0;
                        height:100%;
                        padding-left:10px;
                }
                h2{
                        font-weight: 200;
                }
        }
        #Firsthand_Stories{
                @include flexbox();
                @include flex-wrap(wrap);
                h1{
                        width:100%;
                }
                ul{
                        @include flexbox();
                }
                li{
                        border-radius:10px;
                        padding:0 10px;
                        width:33.33%;
                }
                img{
                        height:400px;
                        width:100%;
                        object-fit: cover;
                        border-top:1px solid grey;
                        border-left:1px solid grey;
                        border-right:1px solid grey;
                        border-top-right-radius:10px;
                        border-top-left-radius:10px;
                }
                h4{
                        padding:10px 20px;
                        border-left:1px solid grey;
                        border-right:1px solid grey;
                }
                p{
                        padding:0 20px 10px 20px;
                        border-left:1px solid grey;
                        border-bottom:1px solid grey;
                        border-right:1px solid grey;
                        border-bottom-left-radius:10px;
                        border-bottom-right-radius:10px;
                }
        }
        #Community_Conversations{
                > ul{
                        @include flexbox();
                        @include flex-wrap(wrap);
                        @include justify-content(space-between);
                        > li{
                                padding-bottom:40px;
                                width:50%;
                                &:nth-child(even){
                                   padding-left:20px;  
                                }
                                &:nth-child(odd){
                                        padding-right:20px;
                                }
                        }
                }
                
                .post-preview{
                        padding:20px;
                        border-left:1px solid grey;
                        border-right:1px solid grey;
                        p{
                                font-size:22px;
                                line-height: 38px;
                        }
                }
                .post_footer{
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(space-between);
                        border:1px solid grey;
                        border-bottom-left-radius:10px;
                        border-bottom-right-radius:10px;
                        padding:10px 20px;
                        img{
                                height:40px;
                                width:40px;
                                border-radius:50%;
                                object-fit:cover;
                        }
                        .post-footer-posted{
                                @include flexbox();
                                @include flex-direction(column);
                                .post-footer-posted-by{
                                        @include flexbox();
                                        @include align-items(center);
                                        margin-top:10px;
                                        h4,p{
                                                margin-left:8px;
                                        }
                                }
                        }
                        .post-footer-interactions{
                                @include flexbox();
                                @include align-items(center);
                                p{
                                        margin-right:10px;
                                        span{
                                                margin-right:5px;
                                                margin-top:8px;
                                        }
                                }
                        }
                }
                .post-categories{
                        @include flexbox();
                        @include align-items(center);
                        padding:10px 40px 10px 20px;
                        border:1px solid grey;
                        border-top-right-radius:10px;
                        border-top-left-radius:10px;
                        position:relative;
                        .bookmark{
                                position:absolute;
                                top:16px;
                                right:20px;
                        }
                        span{
                                padding-right:8px;
                        }
                        p{
                                padding-right:8px;
                                &:after{
                                        content:", ";
                                }
                                &:last-child{
                                        &:after{
                                                content:"";
                                        }
                                }
                        }
                }
        }
        #Resources{
                ul{
                    @include flexbox();
                    @include flex-wrap(wrap);
                    li{
                        width:50%;
                        @include flexbox();
                        margin-bottom:20px;
                        &:nth-child(even){
                                padding-left:10px;  
                        }
                        &:nth-child(odd){
                                padding-right:10px;
                        }
                        .resources-text{
                                @include flexbox();
                                @include flex-direction(column);
                                @include justify-content(space-between);
                                padding:10px 20px;
                                border-top:1px solid grey;
                                border-right:1px solid grey;
                                border-bottom:1px solid grey;
                                border-top-right-radius:10px;
                                border-bottom-right-radius:10px;
                        }
                        .img-container{
                                height:100%;
                                width:200px;
                                padding:10px 20px;
                                border-top:1px solid grey;
                                border-left:1px solid grey;
                                border-bottom:1px solid grey;
                                border-top-left-radius:10px;
                                border-bottom-left-radius:10px;
                        }
                        img{
                                height:100%;
                                width:100%;
                                object-fit:cover;
                        }
                    }    
                }
        }
}