#Membership_Types{
        // width:100%;
        // max-width:1280px;
        // padding:100px 40px;
        // margin:0 auto;
        h1{
                margin-bottom:60px;
                color:$chocolate;
        }
        ul{
                @include flexbox();
                width:100%;
                padding-left:400px;
                &:last-of-type{
                        margin-top:40px;
                }
                li{     
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(space-between);
                        width:calc(100% / 3);
                        &:first-child{
                                margin-right:20px;
                        }
                        &:nth-child(2){
                                margin:0 10px;
                        }
                        &:last-child{
                                margin-left:20px;
                        }
                        h4,
                        .number,
                        p{
                                color:$chocolate;
                        }
                        h4{
                                margin-bottom:20px;
                        }
                        .number{
                                font-family:radley;
                                font-size:44px;
                                margin-bottom:20px;
                        }
                        p{
                                margin-bottom:20px;
                        }
                        button{
                                color:darken($sage, 40%);
                                border-radius:35px;
                                background-color:$sage;
                                height:48px;
                                transition: all 0.5s ease;
                                letter-spacing:0.03em;
                                &.active{
                                        background-color: darken($sage, 40%);
                                        color:lighten($sage, 15%);
                                        &:hover{
                                                background-color:darken($sage, 40%);
                                        }
                                }
                                &:hover{
                                        background-color:darken($sage, 10%);
                                }
                        }
                }
        }
        h2{
                line-height:100px;
                color:$chocolate;
        }
        table{
                width:100%;
        }
        tr{
        }
        td{
                height:60px;
                vertical-align: middle;
                border-bottom: 1px solid darken($bg, 20%);
                color:$chocolate;
                &:first-child{
                        width:400px;
                }
                &:not(:first-child){
                        text-align:center;
                }
        }
}