$profile_avatar_h: 225px;

#Profile{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        width:100%;
        background-color: $ltsage;
        .wrapper{
                width:100%;
                max-width:1200px;
                height:100%;
                position:relative;
        }
        &.andrew #Profile-Header{
                background-image:url('./img/profile/cover-photo-mtns.jpg');
                background-repeat:no-repeat;
                background-size: cover;
        }
        &.amanda #Profile-Header{
                background-image:url('./img/profile/cover-photo.jpg');
                background-repeat:no-repeat;
                background-size: cover;
        }
        &.newdawn #Profile-Header{
                background-image:url('./img/profile/cover-photo-sunrise.jpg');
                background-repeat:no-repeat;
                background-size:cover;
                background-position:50% 40%
        }
        #Organization-Contact{
                img{
                        width:50px !important;
                        height:50px !important;
                        object-fit: cover;
                        border-radius:50%;
                }
                h2{
                        text-decoration:underline;
                        &:hover{
                                cursor:pointer;
                        }
                }
        }
        // * * * * * * * *  
        //   H E A D E R
        // * * * * * * * * 
        #Profile-Header{
                @include flexbox();
                @include justify-content(center);
                position:relative;
                height:$profile_avatar_h;
                width:100%; 
                #Profile-Avatar{
                        position:absolute;
                        top:110px;
                        left:0;
                        border:5px solid $ltsage;
                        object-fit: cover;
                        width:$profile_avatar_h;
                        height:$profile_avatar_h;
                        border-radius:50%;
                }
                #Profile-Btns{
                        @include flexbox();
                        position:absolute;
                        bottom:10px;
                        left:calc(#{$profile_avatar_h} + 20px);
                        li{
                                margin-right:10px;
                                button,
                                a{
                                        background-color:rgba(49, 72, 57,0.7);
                                        color:$ltsage;
                                        font-weight:200;
                                        &:hover{
                                                background-color:rgba(8, 11, 9,0.7);
                                        }
                                }
                        }
                }
                #Profile-Social{
                        @include flexbox();
                        position:absolute;
                        bottom:10px;
                        right:10px;
                        li{
                                @include flexbox();
                                @include justify-content(center);
                                @include align-items(center);
                                margin:0 5px;
                                background-color:rgba(49, 72, 57,0.7);
                                border-radius:50%;
                                width:30px;
                                height:30px;
                                transition:all 0.5s ease;
                                &:hover{
                                        background-color:rgba(8, 11, 9,0.7);  
                                }
                                a{
                                        color:$ltsage;
                                        font-size:14px;
                                        padding-top:3px;
                                }
                        }
                }
        }
        // * * * * * * * *  
        //   Data
        // * * * * * * * * 
        #Profile-Data{
                @include flexbox();
                 h2{
                        font-weight:200;
                        font-family:apercu;
                        font-size: 24px;
                        line-height: 32px;
                        color:darken($sage, 50%);
                        a{
                                font-size:inherit;
                                font-family:inherit;
                                font-weight:inherit;
                                border-bottom:1px solid $black;
                        }
                }
                ul{
                        @include flexbox();
                        margin-top:15px;
                        img{
                                width:30px;
                                height: auto;
                                margin-right:10px;
                        }
                        span.icon-location{
                                font-size:20px;
                                margin-right:10px;
                                color:darken($sage, 50%);
                        }
                        li{
                                width:50%;
                                position:relative;
                                padding-top:25px;
                                &.column{
                                        @include flexbox();
                                        @include flex-direction(column);
                                        @include align-items(flex-start);   
                                }
                                label{
                                        position:absolute;
                                        top:-5px;
                                        font-family:apercu;
                                        font-size:12px;
                                        color:darken($sage, 20%);
                                        width:100%;
                                        font-weight:200;
                                }
                                &.row{
                                        @include flexbox();
                                        @include align-items(center);
                                }
                        }
                }
                #Profile-Data-Txt{
                        width: calc(100% - #{$profile_avatar_h});
                        padding-left:40px;
                }
                #Profile-Data-Rating{
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(center);
                        width: $profile_avatar_h;
                        padding-top:125px;
                        #Profile-Rating,
                        #Profile-Badges{
                                @include flexbox();
                                @include justify-content(center);
                        }
                        p{
                                font-family:apercu;
                                font-weight:200;
                                font-size:14px;
                                margin-top:10px;
                        }
                } 
                #Profile-Name{
                        @include flexbox();
                        margin-top:30px;
                        h1{ 
                                color:darken($sage, 50%); 
                                small{
                                        font-size:20px;
                                        margin-left:20px;
                                        font-family: apercu;
                                        font-weight: 200;
                                }
                        }
                }
                #Profile-Rating{
                        span{
                                padding:0 5px;
                                color:$sage;
                                font-size:23px;
                                &.active{
                                        color:darken($sage, 20%);
                                }
                        }
                }
                #Profile-Badges{
                        @include flexbox();
                        @include align-items(flex-end);
                        height:46px;
                        margin-left:18px;
                        .tooltip{
                                margin:0 5px;
                                height:25px;
                                width:25px;
                                color:$ltsage;
                                font-size:14px;
                                border-radius:50%;
                                background-color:rgba(145, 180, 157,0.7); // darken($sage, 10%)
                                text-align: center;
                                line-height:29px;
                        }
                }
                #Profile-Life_Transitions{
                        li{     
                                padding-top:30px !important;
                                p{
                                        color:darken($blue, 20%);
                                        font-family:apercu;
                                        letter-spacing:0.03em;
                                        span{
                                                border:1px solid darken($blue, 10%);
                                                border-radius:30px; 
                                                background-color:lighten($ltblue, 2%);   
                                                margin-right:20px; 
                                                padding:6px 15px; 
                                                font-weight: 200;  
                                        }
                                }
                        }
                }
                #Profile-About{
                        margin-top:20px !important;
                        li{
                                width:83% !important;
                                max-width:700px;
                        }
                }
                
        }
        
        #Profile-Participation{
                width:100%;
                padding-right:40px;
                padding-left:40px;
                max-width:1200px;
                margin: 80px auto;
                .tablinks{
                        color:lighten($sage, 5%);
                        padding:8px 15px;
                        border-top-right-radius:10px;
                        border-top-left-radius:10px;
                        width:100%;
                        padding:15px 0;
                        span{
                                margin-right:9px;
                                margin-top:3px;
                                font-size:14px;
                        }
                        &.active{
                                background-color:lighten($sage, 30%);
                                color:darken($sage, 20%);
                                &:hover{
                                     background-color:lighten($sage, 30%);
                                     color:darken($sage, 20%);   
                                }
                        }
                        &:hover{
                                background-color:lighten($sage, 20%);
                                color:darken($sage, 10%); 
                        }
                }
                .tabcontent{
                        padding:40px;
                        background-color:lighten($sage, 30%);
                        border-radius:10px;
                        width:100%;
                        margin-bottom:80px;
                        min-height:100vh;
                }
                #Profile-Reviews{
                        border-top-right-radius:0 !important;
                }
                #Profile-Posts{
                        @include flexbox();
                        border-top-left-radius:0 !important;
                        #Profile-Posts{
                                width:70%;
                                padding:40px 0;
                                margin:0 auto;
                                @include flexbox();
                                @include flex-direction(column);
                                header{
                                        margin-bottom:30px;
                                }
                                h2,
                                date,
                                ul{
                                        margin-bottom:10px;
                                }
                                date{
                                      color:darken($sage, 20%); 
                                      font-family:apercu;
                                      font-weight: 200; 
                                      font-size:14px;
                                }
                                .post{
                                        &:not(:first-child){
                                                margin-top:60px;
                                                padding-top:80px;
                                                border-top:5px dotted $ltsage;    
                                        }
                                        p{
                                                &:not(:last-child){
                                                        margin-top:15px;
                                                }
                                        }
                                        
                                }
                                ul{
                                        @include flexbox();
                                        li{

                                                a{
                                                        border:1px solid $sage;
                                                        color:darken($sage, 10%);
                                                        font-weight:400;
                                                        padding:0 2px;
                                                        border-radius:15px;
                                                        padding:2px 6px;
                                                        margin-right:10px;
                                                        transition:all 0.5s ease;
                                                        font-weight: 200;
                                                        font-size: 14px;
                                                        &:hover{
                                                                background-color:$sage;
                                                                color:darken($sage, 25%);
                                                                border:2px solid darken($sage, 20%);
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}